// Line-height
$headings-line-height: 1.5;
$line-height-base: 1.65;

// Colors
$gray-dark: #546e7a;
$theme-colors: (
    "teal1": #26a69a
);

// Font-family
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}

// IE hack
@media all and (-ms-high-contrast: none) {
    body,
    tooltip,
    popover {
        font-family: Verdana, Meiryo, sans-serif;
    }
}

@import "../../vendor/twbs/bootstrap/scss/bootstrap";

body {
    letter-spacing: 0.1em;
    text-align: justify;
}

.x-small {
    font-size: x-small;
}

.text-shadow {
    text-shadow: 1px 2px 3px #808080;
}

.book-cover {
    position: relative;
    // 周囲の影
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    // 光沢と影を表現する
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
            -90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.1) 80%,
            rgba(255, 255, 255, 0.4) 95%,
            rgba(255, 255, 255, 0.5) 97%,
            rgba(255, 255, 255, 0) 100%
        );
    }
    &:hover {
        box-shadow: 0px 1px 7px 0px #333;
    }
}

// 本の配置を調整するためだけのスタイル
.book-cover {
    width: 100%;
    max-width: 180px;
    margin: 2.5rem auto;
    &-image {
        display: block;
        width: 100%;
        max-width: 180px;
        border-radius: 2px;
    }
}

// サムネイルがない場合に配置する
.no-image-background {
  background-color: #A6EBE4;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}
.no-image-background:before {
   display: block;
   content: '';
   padding-top: 100%;
}
.no-image-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

// home.blade.phpで使用
.carousel {
    &-responsive {
        height: auto;
        & .img-fluid {
            width: 100%;
            height: auto;
        }
        & a {
            display: block;
            width: 100%;
        }
        & .show-image {
            display: block;
            width: 100%;
        }
    }
    &-control {
        &-next,
        &-prev {
            width: 5%;
            &-teal {
                width: 5%;
                background-color: #9acac5;
            }
        }
    }
}

$carousel-indicator-length: 10px;

.carousel-indicators {
    & li {
        border-radius: 50%;
        margin: 1px 3px;
        height: $carousel-indicator-length;
        max-width: $carousel-indicator-length;
    }
}

.card-img-overlay-ranking {
    position: absolute;
    top: -0.5rem;
    right: 0;
    bottom: 0;
    left: -1rem;
    padding: 0;
    z-index: 1070;
}

// nav.blade.phpで使用
.drop-hover:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

// いいねハートアニメーション
@keyframes heartAnimation {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    60% {
        transform: scale(1, 1) translate(0%, -10%);
    }
    70% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    80% {
        transform: scale(0.95, 1.05) translate(0%, -3%);
    }
    100% {
        transform: scale(1, 1) translate(0%, 0%);
    }
}

.LikesIcon-fa-heart.heart {
    animation: heartAnimation 0.8s;
}
